body {
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: white;
    margin: 0;
}
a {
    text-decoration: none;
}
/* reset */
ol, ul {
    list-style-type: none;
    padding-left:0;
    margin-top:0;
    margin-bottom:0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top:0;
    margin-bottom:0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common */
.container {
    /* max-width: 1158px; */
    /* padding-left:15px;
    padding-right:15px; */
    max-width:320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}
/* header*/
.top-line{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    padding: 24px 0;
    margin-right: 76px;
}
.logo{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-color{
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
}

.logo:focus,:hover{
    color:#404bbf
}

.navigation{
    font-family: "Roboto", sans-serif;
    /* display: flex; */
    display: none;
    align-items: center;
    gap: 40px;
}

.navigation-item{
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.navigation-item:hover{
    color: #404bbf;
}

.navigation-item:focus{
    color:#404bbf;  
}
.navigation-psevdo{
    position: relative;
    color:#404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-psevdo::after{
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.address{
    font-style: normal;
    margin-left: auto;
    display: none;
}
.address-row{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-row-item{
    color:#434455;
    display: block;
    padding: 24px 0;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.address-row-item:hover{
    color: #404bbf;
}

.address-row-item:focus{
    color: #404bbf;
}

.menu-btn{
    padding: 0;
    margin-left: auto;
    border: none;
    background-color: transparent;
}
.menu-icon{
    display: block;
    fill: #2f2f37;
}

.mob-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
    /* visibility: visible; */
    pointer-events: auto;
    opacity: 1;
}

.nav-mob-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.close-nav-menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mob-nav-menu {
    margin-bottom: auto;
}

.mob-nav-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mob-nav-menu-link:focus {
    color: #4d5ae5;
}

.mob-nav-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.contacts-menu-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.contacts-nav-menu {
    margin-bottom: 48px;
}

.contacts-menu-link:focus {
    color: #4d5ae5;
}

.contacts-menu-item {
    margin-bottom: 24px;
}

.nav-social-links {
    display: flex;
    gap: 24px;
    justify-content: start;

}

.nav-social-link-item {
    width: 40px;
    height: 40px;
}

.nav-soc-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-nav-soc-link{
    fill: #FFFFFF;
}
/*End Header */
/*Hero page */

.hero-page{
    font-family: "Roboto", sans-serif;

}

.hero-container{
    background: #2e2f42;
    /* padding: 188px 0; */
    padding: 72px 0;
    margin: 0 auto;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    /* url(../images/people-office.jpg); */
    url(../images/dark_bg/Dark_bg_mob.jpg);
    /* max-width: 1440px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}  

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .hero-container {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/dark_bg/Dark_bg_2x_mob.jpg);
    }
}

.hero-text{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.button{
    font-family: "Roboto", sans-serif;
    background: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    flex-direction: row;
    line-height: 1.5;
    letter-spacing: 0.04em;
    height: 56px;
    display: block;
    border: none;
    border-radius: 4px;
    /* margin-left: 481px;
    margin-right: 481px; */
    padding: 16px 32px;
    margin: 0 auto;
    min-width: 169px;
    cursor: pointer;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  

.button:hover,:focus{
    background-color: #404BBF;
}

/*Hero page */

/* Section 1 Description */

.description-section {
    /* justify-content: space-between; */
    /* padding: 120px 0; */
    padding: 96px 16px 96px 16px;
}
.description-li{
    display: flex;
    flex-direction: column;
    position: relative;
    /* flex-basis: calc((100% - 72px) / 4); */
}
.description-row{
    /* justify-content: flex-start; */
    flex-wrap: wrap;
    display: flex;
    /* gap: 24px; */
    gap: 72px;
} 

.description-tittle{
    letter-spacing: 0.02em;
    /* line-height: 1.2;
    font-weight: 500;
    font-size: 20px; */
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 8px;
    text-align: center;
}

.description-text{
    /* font-weight: 400; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.icon{
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px; */
    display: none;
} 

/* Section 2 Our Team */
.our-team{
    background: #f4f4fd;
    /* padding: 120px 0; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.title-our-team {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-row{
    display: flex;
    /* gap: 24px; */
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 28px;
    padding-right: 28px;
    margin: 0 auto;

}

.team-list{
    /* justify-content: center;
    flex-direction: column; */
    min-width: 264px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    /* flex-basis: calc(( 100% - 72px ) / 4); */
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-image {
    justify-content: center;
    background-color: #fff;
}
.card{
    padding: 32px 0;
}

.social-media-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 8px;
}

.social-media-item{
    width: 40px;
    height: 40px;
}

.link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover{
    background-color: #404bbf;
}
.link:focus{
    background-color: #404bbf;
}

.icon-sec-three{
    fill: #f4f4fd;
}

.team-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.job-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* Our portfolio */

.our-portfolio{
    /* padding-top: 120px;
    padding-bottom: 120px */
    padding-top: 96px;
    padding-bottom: 96px;
}

.title-our-portfolio{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-li{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-li:hover{
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-li:hover .portfolio-text{
    transform: translate(0);
    
}

.portfolio-description {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.program-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.program-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-image{
    background: #fff;
}

.portfolio-text-wrap{
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-text{
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    height: 100%;
    left: 0;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
/* Footer */
.footer{
    background: #2e2f42;
    /* padding: 100px 0; */
    padding: 96px 0;
}

.footer-one{
    /* margin-right: 120px; */
    margin-bottom: 72px;
}

.footer-logo{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    /* display: inline-block; */
    text-align: center;
    display: block;
    margin-bottom: 16px;
}

.logo-color-one{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
}
/* 
.footer-container{
    display: flex;
    align-items: baseline;
    padding: 96px 16px 96px 16px;
} */
.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-two{
    margin-bottom: 72px;

}
.social-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}
.social-links{
    display: flex;
    gap: 16px;
    justify-content: center;

}

.social-link-li{
    width: 40px;
    height: 40px;

}
.linka{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.linka:hover,
:focus{
    background-color: #31d0aa;
}
.icon-sec-footer{
    fill: #f4f4fd;
}

.subscribe{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.form-class {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}


.footer-input{
    /* width: 264px; */
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
    opacity: 0.6;
}
.button-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: row; */
    /* gap: 16px; */
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
}
.form-icon{
    fill: #fff;
    margin-left: 16px;
}

/*Modal*/
.modal-overlay{
    position: fixed; 
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events:none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay.is-open{
    opacity: 1;
    /* visibility: visible; */
    pointer-events: auto;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    /* width: 408px;
    min-height: 584px; */
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    border-radius: 4px;
    /* padding: 72px 24px 24px 24px; */
    padding-top: 72px;
    padding-right: 16px;
    padding-left: 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-overlay:not(is-open) .modal{
    transform: translate(-50%, -50%);
}

.button-modal{
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color:#e7e9fc;
    border:1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover>.svg-modal,
.button-modal:focus>.svg-modal {
    fill: #ffffff
}
.button-modal:hover {
    background-color: #404bbf;
    border: none;
}

.button-modal:focus {
    background-color: #404bbf;
    border: none;
}
.svg-modal{
    fill:#2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-modal:hover {
    fill: #ffffff
}

.svg-modal:focus {
    fill: #ffffff
}

.modal-title{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    display: block;
    margin-bottom: 16px;
}

.modal-form{
    display: flex;
    flex-direction: column;
}
.modal-container{
    margin-bottom: 8px;
}
.modal-label{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-cont-input{
    display: flex;
    position: relative;
}
.modal-input{
    display: block;
    width: 360px;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    padding-bottom: 8px;
    color: #2e2f42;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
    border-color: #4d5ae5;
}
.modal-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-icon{
    fill:#4d5ae5;
}

.comment-container{
    /* margin-bottom: 16px; */
    margin-bottom: 8px;
}
.comment-text{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-text:focus{
    border-color: #4d5ae5;;
}

.comment-text::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-con-checkbox{
    margin-top:16px;
    margin-bottom: 24px;
}
.custom-checkbox{
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    background-color: transparent;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.checkbox:checked + .label-checkbox > .custom-checkbox{
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.checkbox:checked + .label-checkbox >.checkbox-icon{
    fill: #F4F4FD;
}
.label-checkbox{
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.privacy-policy{
    line-height: 1.33333;
    text-decoration: underline;
    color: #4d5ae5;
}

.modal-button {
    display: block;
    background-color: #4d5ae5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    min-width: 169px;
    height: 56px;
    padding-top: 16px 32px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* @media */
@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
    padding: 0 16px; 
    margin: 0 auto;}

    /* header */
.menu-btn{
    display: none;
}

.header-logo{
    margin-right: 120px;
}
.navigation{
    display: flex;
    align-items: center;
    gap:40px ;
}

.address{
    display: flex;
}

.address-row{
    display: flex;
    flex-direction: column;
    gap:12px;
    
}
.address-row-item{
    font-size: 12px;
    padding: 0;
    display: block;
}

   /* hero */
.hero-container {
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/dark_bg/dark_bg_tab.jpg);
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
.hero-container {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/dark_bg/dark_bg_2x_tab.jpg);
}

}

/* Section 1 Description */

.description-row{
    gap: 72px 24px;
}
.description-li{
    width: calc((100% - 24px) / 2);
}

.description-tittle{
    text-align: start;
}

/* Section 2 Our Team */
.team-row {
    gap: 64px 24px;
    padding: 0 92px;
}

.team-list{
    margin: 0;
    width: calc((100% - 24px) / 2);
}

/* Section 3 Our portfolio */
.portfolio-row{
    gap: 72px 24px;

}
.portfolio-li{
    width: calc((100% - 24px) / 2);
}

/* footer */
.footer-container{
    display: flex;
    flex-wrap: wrap;

}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-two{
    margin-left: 24px;
}

.social-title{
    text-align: start;
}

.subscribe{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.footer-input{
    width: 264px;
}

/* Modal */
.modal{
    width: 408px;
    min-height: 584px;
    
}
/* .modal-overlay.is-open{
    visibility: visible;
} */
.modal-input{
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
}
.modal-con-checkbox{
    display: flex;
        align-items: center;
        justify-content: flex-start;
}
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

.navigation{
    display: flex;
}

.address-row{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.address-row-item{
    font-size: 16px;
}
/* hero  */
.hero-container{
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .hero-container {
        background-image: linear-gradient
        (rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/people-office_2x.jpg);
    }
}

/* Section 1 Description */
.description-section{
    justify-content: space-between;
    padding: 120px 0; 
}

.description-li{
    display: flex;
        flex-direction: column;
        position: relative;
    flex-basis: calc((100% - 72px) / 4);
}

.description-row{
    justify-content: flex-start;
    gap: 24px;
}

.description-tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.description-text{
    font-weight: 400;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

/* Section 2 Our Team */
.our-team{
    padding: 120px 0;
}
.team-row{
    gap: 24px;
    flex-wrap: nowrap;
}
.team-list{
    justify-content: center;
    flex-direction: column;
    width: calc((100% - 72px) / 4);
}

/* Our portfolio */
.our-portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-row{
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-li {
    width: calc((100% - 48px) / 3);
}
/* Footer */

.footer{
    padding: 100px 0;
}
.footer-container {
    display: flex;
        flex-wrap: nowrap;
}

.footer-one{
    margin-right: 120px;
}
.footer-logo{
    display: inline-block;
}
.footer-text{
    width: 264px;
}

.footer-two{
    margin-right: 80px;
}
.footer-three{
    margin-right: auto;

}

.form-class{
    display: flex;
}

.footer-input{
    width: 264px;
}

.button-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    
}

}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer>.container {
        width: 552px;
    }
}
